.default-color0.chart-series-line { -fx-stroke: blue; }
.default-color1.chart-series-line { -fx-stroke: cyan; }

.default-color0.chart-line-symbol { -fx-background-color: blue; }
.default-color1.chart-line-symbol { -fx-background-color: cyan; }
